/* カラーパターンはこちらのものを利用しています。 */

/* https://color.adobe.com/ja/Red-Blue-Diverging-(color-blind-friendly)-color-theme-10983600/ */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
    /* フォント */
    font-family: 'Noto Sans JP', sans-serif;
    color: rgb(36, 39, 41);
}

html {
    height: 100%;
}

.header {
    display: flex;
    /*アイコンとヘッダーアイテムを縦並びにする。*/
    flex-direction: column;
}

.header-icon {
    /* アイコンを中央表示 */
    align-self: center;
}

.header-nav {
    display: flex;
    justify-content: space-around;
}

.header-nav-item a {
    text-decoration: none;
    color: rgb(36, 39, 41);
}

.header-nav-item a:hover {
    text-decoration: none;
    color: #CA0020;
}

body {
    margin: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.footer {
    margin-left: 1.3rem;
}

@media(min-width: 768px) {
    .header {
        /* アイコンとヘッダーアイテムを横並びにする。*/
        flex-direction: row;
        margin-left: 7rem;
    }
    .header-nav {
        margin-left: 3rem;
    }
    .header-nav-item {
        margin-right: 4rem;
        align-self: center;
    }
    .main {
        margin-right: 10rem;
        margin-left: 10rem;
    }
    .footer {
        margin-left: 7rem;
    }
}